
.wrapper {
    height: 100%;
    width: 100%;
    
}

.open {
    color: red;
    font-size: 30px;
    float: left;
    padding-left: 36px;
    padding-top: 4.7rem;
    cursor: pointer;
    display: block;
    position: fixed;
    z-index: 98;
}
.open:hover {
    opacity: 0.5;
}
.nav .close:hover {
    opacity: 0.5;
}

.nav .close {
   position: absolute;
    left: -30px;
    top: -30px;
    color: red;
    padding-left: 36px;
    padding-top: 4.7rem;
    text-decoration: none;
    font-size: 30px;
    z-index: 99;
}

.close {
    transition: 0.5s;
    float: left;
    font-size: 30px;
    margin: 1em 0 0 1em;
    z-index: 99;
}
.footer-text .footer-link {
    text-decoration: none;
}

.nav {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    min-height: 100vh;
    width: 23.3%;
    position: fixed;
    z-index: 3;
    background: black;
    opacity: 0.97;
    transition: 0s;
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
}
.portfolio-content .portfolio img {
    width: 100%;
   height: 100%;
    
}
.portfolio-item,.portfolio {
    display: flex;
  
}
.portfolio-item img {
    width: 50%;
}
.portfolio-spe {
    position: relative;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
.portfolio-spe h1 {
    font-size: 70px;
    color: white;
    opacity: 1;
    z-index: 2;
    font-weight: 300;
    font-family: 'Cinzel', serif;
}

.portfolio-text {
    text-align: center;
    color: white;
    position: absolute;
    top: 46%;
    max-width: 45%;
    opacity: 1;
    z-index: 2;
    
}
.portfolio-text p {
    padding-top: 30px;

    
    
}
.portfolio-spe {
    display: flex;
    justify-content: space-around;
  
}
.portfolio-spe h1:before {
    content: "";
    width: 80px;
    height: 2px;
    background: white;
    position: absolute;
    left: 0px;
    top: 45px;
}
.portfolio-spe h1:after {
    content: "";
    width: 80px;
    height: 2px;
    background: white;
    position: absolute;
    right: 0px;
    top: 45px;
}





@media screen and (max-width: 1250px) {
    .portfolio-text {
    text-align: center;
    color: white;
    position: absolute;
    top: 46%;
    max-width: 60%;
    opacity: 1;
    z-index: 2;
    
}
    .header-footer p {
        text-align: center;
    }
} 



@media screen and (max-width: 700px) {
    
}
@media screen and (max-width: 990px) {
    .header-footer {
       display: flex!important;
    }
    .wrapper {
        display: none;
    }
    .header-footer p {
        flex-flow: wrap;
        text-align: center;
        display: grid;
    }
    .portfolio-item {
    display: block !important;
}
.portfolio-item img {
    width: 100% !important;
}
    
}
@media screen and (max-width: 650px) {
   
.portfolio-item {
    display: block !important;
}
.portfolio-item img {
    width: 100% !important;
}
    .nav .close {
    color: #b89955;
    text-decoration: none;
    font-size: 30px;
    transition: 0.3s;
}


} 
@media screen and (max-width: 500px) {
      .nav {
    min-height: 50vh !important;
    width: 50%;
    position: fixed;
    z-index: 3;
    background: black;
    opacity: 0.97;
    transition: 0.5s;
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
}
            .nav .close {
    position: absolute;
    color: #b89955;
    text-decoration: none;
    font-size: 30px;
    transition: 0.3s;
}



    .portfolio-text {
    text-align: center;
    color: white;
    position: absolute;
    top: 46%;
    max-width: 60%;
    opacity: 1;
    z-index: 2;
    font-size: 30px;
}
}

